<ng-template #loading>
  <div class="alert alert-info">
      Espere porfa
  </div>
</ng-template>
<div *ngIf="country; else loading">
  <div class="row">
    <div class="col">
      <h2>Pais: </h2><strong>{{country.name?.common}}</strong>
    </div>
    <div class="col">
      <h2>Informacion: </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img [src]="country.flags.svg" [alt]="country.name.common" class="w-50">
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-gruop-item">
          <h6><strong>Poblacion:</strong> {{country.population | number}}</h6>
        </li>
        <li class="list-gruop-item">
          <h6><strong>Capital:</strong> {{country.capital[0]}}</h6>
        </li>
        <li class="list-gruop-item">
          <h6><strong>Region:</strong> {{country.region}}</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
