<h3>Counter: {{ counter }}</h3>

    <button class="btn btn-primary" (click)="increaseBy(+1)">+1</button>
    <button class="btn btn-primary" (click)="resetCounter()">Reset</button>
    <button class="btn btn-primary" (click)="increaseBy(-1)">-1</button>
