<div
  *ngIf="countries.length === 0; else table"
  class="alert alert-warning text-center"
>
  No hay nada que mostrar
</div>
<ng-template #table>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bandera</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capital</th>
        <th scope="col">Poblacion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of countries; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.flag }}</td>
        <td>{{ item.translations['spa'].common }}</td>
        <td>{{ item.capital  }}</td>
        <td>{{ item.population | number }}</td>
        <td><a [routerLink]="['/countries/by', item.cca3]">Ver mas</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
