<h2>Por Capital</h2>

<div class="row">
  <div class="col">
      <shared-search-box (onValue)="searchByCapital($event)" [placeholder]="'Busca por capital'"></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>

  </div>
</div>
